name: AI Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  code-review:
    uses: nsalvacao/actions-hub/.github/workflows/ai-code-review.yml@main
    with:
      language: "en"
    secrets:
      MODELS_PAT: ${{ secrets.MODELS_PAT }}

  pr-summary:
    uses: nsalvacao/actions-hub/.github/workflows/ai-pr-summary.yml@main
    with:
      language: "en"
    secrets:
      MODELS_PAT: ${{ secrets.MODELS_PAT }}

